* {
  margin: 0px;
  padding: 0px;
}

.active {
  background-color: #f0f0f0 !important;
}
/* This will apply to all scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Handle when active */
::-webkit-scrollbar-thumb:active {
  background: #000; 
}
/* This will apply to x-axis scrollbars */
::-webkit-scrollbar {
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Handle when active */
::-webkit-scrollbar-thumb:active {
  background: #000; 
}
